<h1>welcome to dashboard 123</h1>

{{weather}}

<p>City Name: {{weather.location.name}}</p>
<p>Country Name: {{weather.location.country}}</p>
<p>Tecmp_c : {{weather.current.temp_c}}</p>
<p>Tecmp_f : {{weather.current.temp_f}}</p>